# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# VS Code dev containers
.devcontainer/devcontainer.env

# Environment variables
.env

# Docker
*.log
docker-compose.override.yml

# Testing
.pytest_cache/
.coverage
htmlcov/

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# System
.DS_Store
Thumbs.db